body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: normal 16px Arial, Helvetica, sans-serif;
    /* same as above
    font-size: 16px;
    font-weight: normal; */

    line-height: 1.6em; /* separates the lines distance */
    
}