/**{
    margin: 0;
    padding: 0%;

}*/

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}

a:visited{
    color: blueviolet;
}

.container{
    width: 80%;
    margin: auto;
}

body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: normal 16px Arial, Helvetica, sans-serif;
    /* same as above
    font-size: 16px;
    font-weight: normal; */

    line-height: 1.6em; /* separates the lines distance */
    margin: 0%;
}

.box-1{
    background-color: #333;
    color: #fff;

    border: 5px red solid;
/* same as above
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-bottom: 5px red solid;
    border-top: 5px red solid; */
    border-width: 3px;
    border-bottom-width: 10;
    border-bottom-style: dotted;

    padding: 20px;

}

.box-1 h1{
    font-family: Tahoma,;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;

}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;

}

.catergories{
    border: 1px  #ccc solid;
    padding: 10px;
    border-radius: 15px;

}

.catergories h2{
    text-align: center;

}

.catergories ul{
    padding: 0;
    padding-left: 20px;
    list-style: square;
    list-style: none;

}

.catergories li{
    padding-bottom: 8px;
    border-bottom:dotted 1px #333 ;
    list-style-image: url('./images/800px-Arbcom_ru_ready.svg.png');
}

.my-form{
    padding: 20px;

}
 
.my-form .form-group{
    padding-bottom: 10px;
}

.my-form label{
    display: block;
}

.my-form input{
    padding: 8px;
    width: 100%;

}